@font-face {
    font-family: birthday;
    src: url('/font/Code.ttf');
}

body {
    background-color: #181818;
}

.header {
    height: 125px;
    width: 50%;
    margin: 40px auto 40px auto;
    /* background-color: #; */
    border: 8px solid #F4388B;
    border-radius: 15px;
}

.header-content {
    text-align: center;
    margin-top: 30px;
    color: #E5A8E9;
    font-size: 50px;
    font-family: 'birthday', cursive;
    letter-spacing: -5px;
}

#countdown-container {
    height: 350px;
    width: 50%;
    border: 8px solid #F4388B;
    margin: 20px auto 50px auto;
    border-radius: 15px;
}

.countdown-content {
    color: #E5A8E9;
    text-align: center;
    font-size: 50px;
    font-family: 'birthday', cursive;
    letter-spacing: -5px;
    margin-top: 20px;
}
