@font-face {
    font-family: birthday;
    src: url('/font/Dutch\ &\ Harley.ttf');
}

body {
    background-image: url('https://dl.glitter-graphics.com/pub/1525/1525725hphzd4q86e.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
}

.header {
    height: 125px;
    width: 50%;
    margin: 30px auto 30px auto;
    background-color: #8E0704;
    border: 15px solid black;
    border-radius: 15px;
}

.header-content {
    text-align: center;
    margin-top: 25px;
    color: black;
    font-size: 60px;
    font-family: 'birthday', cursive;
}

#countdown-container {
    height: 300px;
    width: 75%;
    border: 5px solid black;
    margin: 20px auto 50px auto;
    background-color: #8E0704;
}